{% extends "header.html" %}
{% block body %}


<style>
  table {
    width: 100%;
  }
  th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 5px solid #99b0cd;
    font-weight: bold;
  }
  th {
    background-color: #9feada;
  }

  form {
  flex: 1;
  width: 0px;
  margin: 0 auto;
  padding: initial;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  /* background: rgb(240, 196, 135); */
}

</style>

<body>
  <h2 style="color: darkorange; text-align: center;">Admin Panel</h2>
  <hr>
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>upload</th>
      <th>up_status</th>
      <th>Action</th>
      <th>req_status</th>
    </tr>
    {% for user in users %}
    {% if user.username != '205121038'  %}
    <!-- and user.request_status != 'accept' -->
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.upload_access }}</td>
        <td>
          <form method="post" class="form">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <select name="upload_action">
              <option value="pending" {% if user.upload_access == 'pending' %}selected{% endif %}>Pending</option>
              <option value="accept" {% if user.upload_access == 'accept' %}selected{% endif %}>Accept</option>
              <option value="reject" {% if user.upload_access == 'reject' %}selected{% endif %}>Reject</option>
            </select>
            <button type="submit">Update</button>
          </form>
        </td>
        <td>{{ user.request_status}}</td>
        <td>
          <form method="post" class="form">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <select name="request_action">
              <option value="pending" {% if user.request_status == 'pending' %}selected{% endif %}>Pending</option>
              <option value="request" {% if user.request_status == 'request' %}selected{% endif %}>Request</option>
              <option value="accept" {% if user.request_status == 'accept' %}selected{% endif %}>Accept</option>
              <option value="reject" {% if user.request_status == 'reject' %}selected{% endif %}>Reject</option>
            </select>
            <button type="submit">Update</button>
          </form>
        </td>
        
      </tr>
    {% endif %}
    {% endfor %}
    
  
  </table>
</body>

{% endblock %}
